body {
    display: flex;
    flex-flow: column;
    align-items: center;
}

.footer {
    width: 100%;
    position: absolute;

    bottom: 0px;
    left: 0px;
    background-color: rgb(149, 179, 255);
    border-top: 2px solid blue;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding-block: 25px;
}

.name-fieldset {
    display: flex;
    flex-flow: column;
    gap: 10px;
    border: 1px solid white;
    padding: 10px;
    background-color: rgb(0, 0, 156);
    color: white;

    font-size: 16px;
    input {
        font-size: 18px;
    }
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
}

.cell {
    width: 100px;
    height: 100px;

    font-size: 50px;

    


    &:disabled {
        background-color: white;
        color: black;

        &.cell--line {
            background-color: red;
        }
    }


}

.stack {
    display: flex;
    flex-flow: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.btn {
    font-size: 24px;
    padding: 10px 20px;
    cursor: pointer;

    &.btn--destructive {
        background-color: red;
        color: white;

        &:hover {
            background-color: rgb(255, 72, 72);
            color: white;
        }

        /* when button is held down */
        &:active {
            background-color: rgb(134, 0, 0);
            color: white;
        }
    }
}