body {
    display: flex;
    flex-flow: column;
    align-items: center;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
}

.cell {
    width: 100px;
    height: 100px;

    font-size: 50px;

    


    &:disabled {
        background-color: white;
        color: black;

        &.cell--line {
            background-color: red;
        }
    }


}

.stack {
    display: flex;
    flex-flow: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.btn {
    font-size: 24px;
    padding: 10px 20px;
    cursor: pointer;

    &.btn--destructive {
        background-color: red;
        color: white;

        &:hover {
            background-color: rgb(255, 72, 72);
            color: white;
        }

        /* when button is held down */
        &:active {
            background-color: rgb(134, 0, 0);
            color: white;
        }
    }
}